EMAIL_SERVICE=Gmail
EMAIL_AUTH_USER=dev
EMAIL_AUTH_PASSWORD=dev
EMAIL_BASE_URL=http://stage.dextto.com
DATABASE_HOST=localhost
DATABASE_USERNAME=root
DATABASE_PASSWORD=test
DATABASE_SYNCHRONIZE=true
JWT_SECRET=jwt_secret